* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px !important;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

/*---------------------------------------
FONTS            
-----------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/

:root {
  --main-color: #003580;
  --bg-color: #FCFCFF;
  --accent-color: #E44813;
  --main-font-family: "Oswald", sans-serif;
  --second-font-family: "Cantarell", sans-serif;
}

/* animation/////// */

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.5s both;
  animation: slide-in-bottom 1.5s 1s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 1s ease-in-out 1s both;
  animation: slide-in-top 1s ease-in-out 1s both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}